// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";

.app-content {
    .btn {
        background-color: transparent !important;
    }

    .btn:hover {
        color: var(--cui-btn-hover-color) !important;
        background-color: var(--cui-btn-hover-bg) !important;
        border-color: var(--cui-btn-hover-border-color) !important;
    }

    .btn-primary {
        background-color: #0275d8 !important;
        border-color: #0275d8 !important;
        color: #ffffff !important;
    }

    .btn-outline-secondary {
        background-color: rgba(0, 0, 0, 0) !important;
        background-image: none !important;
        border-color: #cccccc !important;
        color: #cccccc !important;
    }

    .btn-check:checked + .btn,
    .btn-check:active + .btn,
    .btn:active,
    .btn.active,
    .btn.show {
        color: var(--cui-btn-active-color) !important;
        background-color: var(--cui-btn-active-bg) !important;
        border-color: var(--cui-btn-active-border-color) !important;
    }

    .chartjs-tooltip {
        position: absolute;
        z-index: 1021;
        padding: 0.25rem 0.5rem;
        color: #fff !important;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.15s ease;
        transform: translate(-50%, 0);
        border-radius: 0.375rem;
        .chartjs-tooltip-header > .chartjs-tooltip-header-item > th {
            color: #fff !important;
        }
    }

    table thead th {
        color: transparent !important;
    }
}
